<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Notices</title>
</head>

<body>
    <div class="container">
        <form class="publish">
            <input type="text" class="message" placeholder="Введіть нотатку..">
            <input type="submit" class="submit">
        </form>
        <div class="notices">Нотатки</div>
        <ul class="output"></ul>
    </div>
    
    <script src="/scripts/main.js">
        
    </script>
</body>

</html>